<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
</head>
<body>
    <%- include("./partials/nav.ejs") %>
  
    <div class="about content container">
        <h2>About Us</h2>
        <p>Welcome to Ayan's Blog, your go-to source for all things related to technology, coding, and much more. We're dedicated to providing you with the latest news, tutorials, and insights to keep you informed and inspired.</p>
        <p>Our mission is to make learning and staying updated with the latest trends in technology and programming accessible to everyone. Whether you're a beginner or an experienced professional, you'll find something useful here.</p>
        <p>Stay connected with us on our social media channels to get the latest updates, and don't forget to subscribe to our newsletter for exclusive content and special offers.</p>
    </div>
   
    <%- include("./partials/footer.ejs") %>
</body>
</html>
